body {
  background-color: rgb(150, 127, 50);
}
h1,
h3 {
  text-align: center;
}
h4 {
  margin: 0;
  padding: 1rem;
}
.container-input,
.ticket {
  background-color: #fff;
  width: 70%;
  margin: 2rem auto;
  border-radius: 30px;
}
.hidden {
  opacity: 0;
  transition: 0.1s;
  display: none;
}
.show {
  opacity: 1;
  transition: 0.1s;
}
.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
}
.col input {
  margin: 1.5rem;
}
.btns {
  text-align: center;
}
.btns button {
  margin: 1.5rem auto;
}
/* TICKET */
.details-ticket {
  display: flex;
  width: 45rem;
  justify-content: space-between;
  border-top: 1px solid grey;
}
.col-name {
  background-color: lightgray;
  margin-left: 1rem;
  padding: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.col-name p {
  padding-left: 1rem;
}
